@model WebApplication_11.Models.OpSistema

@{
    ViewBag.Title = "Details";
}

<h2>Ma'lumotlar</h2>

<div>
    <h4>OpSistema</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Turi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raziryad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raziryad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS_rasm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS_rasm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Malumot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Malumot)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("O'zgartirish", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Orqaga qaytish", "Index")
</p>
