@model WebApplication_brr_bmi1.Models.sotuv

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sotuv</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tulov.Tulov_turi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tulov.Tulov_turi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xaridor.Familiya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xaridor.Familiya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xonadon.Narxi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xonadon.Narxi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
