@model IEnumerable<WebApplication_brr_bmi1.Models.tulov>

@{
    ViewBag.Title = "IndexFoy";
}

<h2>To'lov turi</h2>

<p>
    @Html.ActionLink("Yangi qo'shish", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            <p class="panel-heading"><strong>To'lovlar</strong></p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tulov_turi)
            </td>
            <td>
                @Html.ActionLink("O'zgartirish", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Ma'lumotlar'", "Details", new { id = item.Id }) |
                @Html.ActionLink("O'chirish", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
