@model WebApplication_11.Models.Xotira

@{
    ViewBag.Title = "Edit";
}

<h2>O'zgartirish</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Xotira</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Xajmi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Xajmi)
                @Html.ValidationMessageFor(model => model.Xajmi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Narxi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Narxi)
                @Html.ValidationMessageFor(model => model.Narxi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KompaniyaId, "KompaniyaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KompaniyaId", String.Empty)
                @Html.ValidationMessageFor(model => model.KompaniyaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xotira_rasm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Xotira_rasm)
                @Html.ValidationMessageFor(model => model.Xotira_rasm)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Orqaga qaytish", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
