@model WebApplication_brr_bmi1.Models.Tuman

@{
    ViewBag.Title = "Details";
}

<h2>Ma'lumotlar</h2>

<div>
    <h4>Tuman</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viloyat.Viloyat_nomi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viloyat.Viloyat_nomi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuman_nomi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuman_nomi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("O'zgartirish", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Bosh sahifaga qaytish", "Index")
</p>
